header {
    text-align: center;
    font-family: 'Comfortaa', cursive;
    background-image: url("https://image.freepik.com/free-photo/clear-air-fly-fantastic-travel_1232-3824.jpg")!important;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.bottom-space {
    padding-bottom: 50px;
}

.lead {
    font-weight: bolder;
}

body {
    background-image: url("https://cdn.hipwallpaper.com/i/97/62/ZDOVqJ.gif")!important;
}

p {
    font-family: 'Comfortaa', cursive;  
}

#results  {
    font-family: 'Comfortaa', cursive; 
    font-size: xx-large ;
    font-weight: bold;
}
#temp #humidity #wind {
    font-family: 'Comfortaa', cursive; 
    font-size: x-large;

}
#cityPrv {
    list-style-type: none !important; 
    text-decoration-style: none;
    font-family: 'Comfortaa', cursive;
    font-weight: bold;
}

.uv-low {
    background-color: green;
    color:#FFF;
    padding:3px;
} 
.uv-mod {
    background-color: yellow;
    color:#444;
    padding:3px;
}
.uv-high {
    background-color: orangered;
    color:#FFF;
    padding:3px;
}

.day-1, .day-2, .day-3, .day-4, .day-5  {
    background-color: blue;
    padding-top: 25px;
    color: #FFF;
    font-weight: bolder;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 25px;
    margin-right: 5px;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: lightskyblue;
    color: black;
    text-align: center;
  }